.ferragens {

    padding: 2rem 0;


    .ferragens__titulo {
        font-size: 4rem;
    }

    .ferragens__conteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        @include celular {
            gap: 2rem;
        }
    }

    .ferragens__info {
        width: 500px;
        display: flex;
        flex-direction: column;

    }

    .ferragens__info--h3 {
        font-size: 3rem;
        font-family: $fonte-titulo;
        margin-bottom: 1rem;

        @include celular {
           text-align: center;
        }
    }

    .ferragens__info--p {
        margin-bottom: 1rem;
        font-family: $fonte-corpo;
        font-size: 1rem;
        margin-bottom: 1rem;

        @include celular {
            padding: 0rem 1rem;
        }
    }

    .ferragens__btns {
        display: flex;
        gap: 1rem;
        justify-content: start;

        @include celular {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
    }

    .ferragens__btn-whatsImg {
        width: 30px;
    }

    

    .btn__ferragens {
    background-color: $cor-titulo;
    padding: .5rem;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #fff;
    font-family: $fonte-menu;
    border: 2px solid #000;
    cursor: pointer;
    width: 120px;
    text-align: center;
    display: flex;
    gap: .2rem;

        &:hover {
            background-color: $cor-corpo;
            transition: all .5s;
            color: #000;
            border: 2px solid $cor-titulo;
        }

        @include celular {
            margin: 0 auto;
        }

    }

    .saibaMais {
        width: 150px;
    }

}