.maquinas__box {

    .maquinas__header {
        background: linear-gradient(
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
    
            url("../img/ferragens/backgroud-maquinas.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            padding-bottom: 2rem;
    }

    .logo__img {
        display: flex;
        justify-content: center;
        padding: 1rem 0rem;
    }

    .logo {
        width: 340px;
    }

    .maquinas__titulo {
        color: $cor-corpo;
        font-family: $fonte-menu;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 3rem;
    }    
    
    .maquinas__menu--btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .maquinas__btn {
        background-color: $cor-titulo;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        padding: .5rem;
        width: 140px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 1px $cor-corpo;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            transition: all .5s;
            box-shadow: 1px 1px 5px 1px #fff;
        }

        &:hover .maquina__menu--nome {
            color: #000;
            font-weight: bold;
        } 

    }

    .maquina__menu--ico {
        width: 40px;
    }

    .maquina__menu--nome {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.2rem;
    }

    .maquinas__box--conteudo {
        background: rgb(193,193,193);
        background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(0,0,0,1) 100%);
        padding: 2rem 0rem;
    }

    /********** SESSÂO PEITO **********/
    .maquinas__nome--titulo {
        text-align: center;
        font-family: $fonte-titulo;
        font-size: 4rem;
        color: $cor-corpo;
        margin-bottom: 3rem;
    }

    .maquina__card {
        width: 350px;
    }

    .maquina__card--imagens {
        display: flex;
        gap: .3rem;
        align-items: flex-start;
    }

    .maquina__card--imagensPeq {
        display: flex;
        flex-direction: column;
        gap: .3rem;   
    }

    .maquina__card--imgP {
        width: 50px;
        border-radius: 8px;
        border: 1px solid #000;
        cursor: pointer;
        opacity: .7;
        

        &:hover {
            transition: all .5s;
            opacity: 1;
            border-radius: 0;
        }
        
    }

    .maquina__card--imgG {
        width: 300px;
        border-radius: 8px;
        border: 1px solid #000;
    }

    .maquina__card--info {
        background-color: #585858;  
        border: 1px solid $cor-corpo;
        width: 350px;
        margin-top: .3rem;
        border-radius: 8px;
        padding: .4rem .5rem;
        
    }

    .maquina__info--nome {
        font-family: $fonte-corpo;
        color: $cor-corpo;
        font-size: 1.5rem;
        margin: .5rem 0rem;
        text-align: center;
    }

    .maquina__card--infoEsp {
        font-size: 1.2rem;
        color: #fff;
        margin-bottom: .3rem;
        text-align: center;
        font-family: $fonte-corpo;
    }

    .maquina__card--infoP {
        color: #fff;
        font-family: $fonte-corpo;
    }

    .maquina__card--Btn {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .maquina__card--infoLink {
        background-color: $cor-titulo;
        width: 100px;
        font-size: 1rem;
        padding: .4rem;
        font-family: $fonte-menu;
        border-radius: 8px;
        border: 1px solid #fff;
        text-align: center;
        color: #fff;
    }


}