.ferragens {

    padding: 2rem 0;


    .ferragens__titulo {
        font-size: 4rem;
    }

    .ferragens__conteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        @include celular {
            gap: 2rem;
        }
    }

    .ferragens__info {
        width: 500px;
        display: flex;
        flex-direction: column;

    }

    .ferragens__info--h3 {
        font-size: 3rem;
        font-family: $fonte-titulo;
        margin-bottom: 1rem;

        @include celular {
           text-align: center;
        }
    }

    .ferragens__info--p {
        margin-bottom: 1rem;
        font-family: $fonte-corpo;
        font-size: 1rem;
        margin-bottom: 1rem;

        @include celular {
            padding: 0rem 1rem;
        }
    }

    .ferragens__btns {
        display: flex;
        gap: 1rem;
        justify-content: start;

        @include celular {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
    }

    .ferragens__btn-whatsImg {
        width: 30px;
    }

    

    .btn__ferragens {
    background-color: $cor-titulo;
    padding: .5rem;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #fff;
    font-family: $fonte-menu;
    border: 2px solid #000;
    cursor: pointer;
    width: 120px;
    text-align: center;
    display: flex;
    gap: .2rem;

        &:hover {
            background-color: $cor-corpo;
            transition: all .5s;
            color: #000;
            border: 2px solid $cor-titulo;
        }

        @include celular {
            margin: 0 auto;
        }

    }

    .saibaMais {
        width: 150px;
    }

    /******* FERRAGENS MODAL *********/
    .ferragens__modal {

    }

    .ferragens__modal--titulo {
        font-size: 3rem;
        font-family: $fonte-menu;
        text-align: center;
        margin-bottom: 3rem;
    }

    .ferragens__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .ferragens__menu-a {
        background-color: $cor-titulo;
        padding: .5rem;
        border-radius: 4px;
        font-size: 1.2rem;
        color: #fff;
        font-family: $fonte-menu;
        border: 2px solid #000;
        cursor: pointer;
        width: 120px;
        text-align: center;

        &:hover {
            background-color: $cor-corpo;
            color: #000;
        }
    }

    .ferragens__modal--cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .ferragens__modal--card {
        width: 400px;
        border-radius: 12px;
        box-shadow: 1px 1px 5px 1px $cor-titulo;
        padding: 1.5rem;

        @include celular {
            width: 360px;
            padding: .5rem;
        }
    }

    .ferragens__card--imgs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ferragens__imgsPeq {
        display: flex;
        flex-direction: column;
        gap: .2rem;

        
    }

    .ferragens__card1-img-peq {
        width: 60px;
        border: 1px solid #000;
        border-radius: 8px;
        opacity: .6;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition: all .4s;
        }
    }

    .ferragens__card1-img-gra {
        width: 300px;

        @include celular {
            width: 280px;
        }
    }
 

    .ferragens__acordion {
        background-color: $cor-titulo;
        border-radius: 12px;
        cursor: pointer;
        padding-bottom: 1rem;

        // @include celular {
        //     width: 350px;
        //     margin: 0 auto;
        // }

        &:hover {
            background-color: #000;
            transition: all .5s;
        }

        &:hover .ferragens__acordion--titulo {
            color: #fff;
        }

        &:hover .ferragens__acordion--info {
            color: #fff;
        }
    }

    .ferragens__acordion--titulo {
        text-align: center;
        font-size: 1.5rem;
        font-family: $fonte-menu;
        padding: .5rem;
        
    }

    .ferragens__acordion--info {
        padding: .5rem;
    }

    .ferragens__acordion--info-h3 {
        font-family: $fonte-corpo;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .ferragens__acordion--info-p {
        font-family: $fonte-corpo;
        font-size: 1rem;
        color: #fff;
        margin-bottom: 1rem;
    }

    .ferragens__acordion--btns {
        display: flex;
        justify-content: center;
    }

    .ferragens__acordion--btn {
        background-color: $cor-titulo;
        padding: .5rem;
        border-radius: 4px;
        font-size: 1.2rem;
        color: #fff;
        font-family: $fonte-menu;
        border: 2px solid #000;
        cursor: pointer;
        width: 120px;
        text-align: center;

        &:hover {
            border: 2px solid #fff;
        }
    }
}

