.maquinas__box {

    padding: 2rem 0rem;

    .logo__img {
        display: flex;
        justify-content: center;
        padding: 1rem 0rem;
    }

    .logo {
        width: 340px;
    }

    background: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),

        url("../img/ferragens/backgroud-maquinas.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        // height: 100vh;


    .maquinas__titulo {
        color: $cor-corpo;
        font-family: $fonte-menu;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 3rem;
    }    
    
    .maquinas__menu--btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .maquinas__btn {
        background-color: $cor-titulo;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        padding: .5rem;
        width: 140px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 1px $cor-corpo;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            transition: all .5s;
            box-shadow: 1px 1px 5px 1px #fff;
        }

        &:hover .maquina__menu--nome {
            color: #000;
            font-weight: bold;
        } 

    }

    .maquina__menu--ico {
        width: 40px;
    }

    .maquina__menu--nome {
        font-family: $fonte-corpo;
        color: #fff;
        font-size: 1.2rem;
    }


}