.instrutores {
    background-image: url("../img/equipe/background-equipe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
}

.instrutores__cabecalho {
    text-align: center;
    padding: 2rem 0; 
}

.instrutores__cabecalho--titulo {
    font-family: $fonte-titulo;
    color: $cor-corpo;
    font-size: 4rem;
    text-align: center;

        @include celular {
            font-size: 2rem;
        }
}

.instrutores__cabecalho--subtitulo {
    font-family: $fonte-titulo;
    color: $cor-corpo;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;

        @include celular {
            font-size: 2rem;
        }
}

.equipe__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.equipe__img {
    width: 200px;
    filter: grayscale(100%);
    margin-bottom: .4rem;;

        &:hover {
            filter: grayscale(0%);
            transition: all .4s;
        }
}

.equipe__info {
    text-align: center;
}

.instrutor__nome {
    font-family: $fonte-corpo;
    font-size: 1.5rem;
    margin-bottom: .4rem;
    color: #fff;
}

.instrutor__profissao {
    font-family: $fonte-corpo;
    font-size: 1.2rem;
    color: $cor-corpo;
}